.container{
    max-width: 80%;
    margin: 0 auto;
}
a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
hr{
    border: 0.5px solid #bdbdbd;
    margin: 0;
}
.size_10px{
    font-size: 10px;
}
.size_12px{
    font-size:12px;
}
.size_14px{
    font-size: 14px;
}
.size_18px{
    font-size: 18px;
}
.red{
    color:red;
}
.green{
    color:#476702;
}
.left_a{
    margin-left: 20px;
}
/* ---------------- header ---------------- */
.about_us{
    display: inline-block;
    width: 86%;
}
.about_us a:first-child{
    margin-left: 0;
}
.about_us a{
    margin-left: 25px;
}
.login{
  display: inline-block;
}
.conteiner_flex{
    display: flex;
    height: 110px;
}
.logo{
    margin-top: 20px;
    flex:1;
}
.logo img{
      border-right:1px solid black;
}
.components{
    flex:2;
    margin-right: 90px;
}
.components p{
    margin-top: 25px;
    margin-left: 10px;
    width: 200px;
}
.number_tel{
    flex:3;
    margin-right: 30px;
}
.number_tel p{
    margin-top:5px;
    margin-bottom: 0;
}
.day{
    position: relative;
    margin-top: 15px;
    font-size: 11px;
}
.day img{
    bottom: -1px;
    position: absolute;
}
.day_p{
    margin-left: 15px;
}

.p_number{
    font-size: 24px;
    color:#70a000;
}
.number_tel img{
    margin-top: 15px;
    width: 15px;
    height: 15px;
}
.number_tel select{
    border: none;
}
.address{
    flex:4;
    margin-top: 15px;
    margin-right: 30px;
    text-align: center;
    
}
.address .number{
    margin-top: -10px;
}
.address select{
    border:none
}
.address img{
   width: 15px;
   color:#8ecf04;
   height:15px;
}
.backet{
    background: #8ecf04;
    flex: 5;
    text-align: center;
}
.backet_icon{
    display: inline-block;
    margin-top: 10px;
}
.sum{
    margin-left: 10px;
    display: inline-block;
}
.sum p{
    margin: 0;
}
.quantity{
    margin-left: 25px;
    margin-bottom: -10px;
}
.container_search{
    height: 60px;
}
/* ----------- catalog ----------- */
.catalog{
     display: inline-block;
     width: 25%;
     height: 59px;
     background: #f76c06;
     list-style: none;
     
}
.dws-menu li a {
    font-size: 20px;
    margin-left: 40px;
    color: #fff;
}
.dws-menu .first_ul{
    margin: 0;
    padding: 0;
}
.dws-menu ul{
    list-style: none;
   }
.dws-menu li ul{
    position: absolute;
    min-width: 250px;
    display: none;
}
.dws-menu li > ul li{
    font-size: 24px;
    height: 50px;
    min-width: 280px;
    border: 1px solid #c7c8ca;
    background: #f76c06;
}
.dws-menu li > ul li a{  
    text-transform: none;
    background: #f76c06;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -280px;
    top: 0;
}
.dws-menu li:hover > ul{
    z-index: 1;
    display: block;
}
.block_dws{
    z-index: 1;
    display: block;
}
/* ----------------------------------- */
.search{
    height: 55px;
    display: inline-block;
    width: 74%;
}
.search input{
    background-image: url(../images/magnifier.png);   
    background-repeat: no-repeat; 
    background-position: 99%; 
    border: none;
    border-right: 1px solid black;
    width: 98%;
    outline: none; 
    padding-left: 20px; 
    height: 50px; 
    font-size: 16px;
}
.rectangle{
    display: inline-block;
    margin-left: 5px;
    margin-bottom:-22px ;
}
.rectangle_1{
    width: 25px;
    height: 2px;
    margin-top: 5px;
    background: white;
}
/* ------------------------ slider ------------------------- */
.slider{
    max-width: 100%;
    margin: 10px 0;
   
}
.slider_div{
     position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg,#7fff00 0,#33c7ef  98%);
}
.discount{
    font-family: 'Domine', sans-serif;
    position: absolute;
    left:11%;
    top: 10%;
    width: 500px;
    color:white;
}
.discount h2{
    margin: 0 30px;
}
.discount10 p{
    position: relative;
    font-family: 'Domine', sans-serif;
    z-index: 4;
    color:red;
    font-size: 200px;
    margin: 0 0 0 10px;
}
.discount h3{
    margin: 0;
}
.goods{
    margin: 0;
    position: absolute;
    top: 73%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.goods_2{
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.goods .img_1{
    z-index: 3;
    width: 400px;
    height: 280px;
}
.goods_2 .img_2{
    z-index: 1;
    width: 380px;
    height: 380px;
}
.discount_buy{
    position: absolute;
    top: 30%;
    left: 77%;
    width: 200px;
    color:white;
}
.discount_buy h3{
    margin: 0;
}
.discount_buy h1{
    font-size: 32px;
    margin-top: 1px;
}
.discount_buy button{
    width: 180px;
    height: 50px;
    background: #f76c06;
    border-radius: 10px;
    border: 1px solid #f76c06;
    color:white;
    font-family: 'Roboto Mono', monospace;
}
/* ---------------------- info_block ------------------- */
.info_block{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}
.block{
    font-family: 'Domine', sans-serif;
    width: 30%;
    border: 1px solid black;
    margin:auto;
    height: 320px;
    color:white;
}
.block h3{
    margin-top: 100px;
}
.block hr{
    margin-left: 42%;
    width: 50px;
    height: 2px;
    border:none;
}
.hr_88ce0b{
    color:#88ce0b;
    background-color: #88ce0b;
}
.hr_f76c06{
    color:#f76c06;
    background-color: #f76c06;
}
.elip_1{
    background: url(../images/Эллипс_1.png);
}
.elip_2{
    background: url(../images/Эллипс_2.png);
}
.elip_3{
    background: url(../images/Эллипс_3.png);
}
.block p{
    font-size: 14px;
}
.block button{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    color: white;
}
.button_88ce0b{
    background-color: #88ce0b;
}
.button_f76c06{
     background-color: #f76c06;
}
/* ------------------------------- best_goods ---------------------------- */
.best_goods{
    width: 915px;
    height: 365px;
    margin:3% auto;
    overflow: hidden;
}
.polosa{
    width: 1160px;
    margin: 0 ;
    position: relative;
    left:0;
    transition: all ease 1s;
}
.slider_block_goods{
    display: inline-block;
    width: 210px;
    height: auto;
    margin: 8px;
    border: 0.5px solid black;
}
.slider_block_goods .images{
    padding: 15px;
}
.slider_block_goods .info{
    margin: 5px 5px ;
}
.buy{
    margin:10px 5px;
}
.slider_header{
    display: inline-block;
    margin: 0;
    width: 84%;
}
.slider_header h2{
    width: auto;
    display: inline-block;
}
.slider_header hr{
    margin-bottom: 5px;
    border:none;
    height: 2px;
    background-color: #88ce0b;
    width: 65%;
    display: inline-block;
}
.slider-button{
    background: white;
    border:2px solid #88ce0b;
}
.button_slider{
    margin: 0;
    width: 15%;
    display: inline-block;
}
.regular_block{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
}
.img_slider{
    width: 200px;
}
.to-cart{
    border:none;
    background: #f76c06;
    width: 80px;
    height: 30px;
    color:#fff;
}
.img_top{
    display: inline-block;
    vertical-align: middle;
}
.p_inline_block{
    display: inline-block;
}
.margin_0{
    margin: 0;
}
/* ------------------- footer ----------------- */
footer{
    width: 100%;
    margin:0;
    padding: 0;
    color: white;
}
.footer_menu{
    background: #669002;
}
.footer_menu_width{
    display: flex;
    justify-content: center;
   margin: 0 0 0 10%;
    color:white;
    font-family: 'Domine', sans-serif;
}
.footer_menu_main{
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer_menu_img{
    display: inline-block;
    padding-top: 10px;
}

.foote_menu_info{
    display: inline-block;
    width: 180px;
}
.foote_menu_info p{
    margin:0 10px;
}
.margin_left{
    width: 260px;
    margin-left: 5%;
}
.border_right{
    border-left: 1px solid white;
}
.footer_info{
    height: auto;
    width: 100%;
    background: url(../images/смарт_объект.png) no-repeat 0 20px ,
    #fff url(../images/смарт_объект_2.png) no-repeat 100% 150px;
    background-color: #709f01;
}
.footer_width{
    width: 83%;
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 0 10%;
}
.company:first-child{
    display: inline-block;
    margin-left: 5%;
}
.company{
    margin-top: 40px;
    margin-right: 6%;
    height: 150px;
}
.company h3{
    margin-top: 10px;
}
.company p{
    margin-top: -10px;
}
.company .p_street{
    margin-top: -20px;
    margin-bottom: 20px;
}
.social_network {
    display: flex; 
}
.social_img{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    margin:0 5px;
}
.social_img img{
    margin-top: 10px;
}
/* ------------------------------------------- little_info -------------------------------- */
.little_info{
    margin: 20px 5%;
    display: flex;
    height: 300px;
    padding: 10px;
    justify-content: center;
}
.aboutUs{
    margin-left: 20px; 
    position: relative;
}
.aboutUs hr{
    width: 490px;
    background-color: #8ecf04;
    height: 2px;
    border:none;
    margin-top: 10px;
    margin-bottom: 40px;
}
.about_us_info{
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 30px;
    border: 1px solid #8ecf04;
    width: 400px;
    height: auto;
    position: relative;
}
.figure_1 img{
    position: absolute;
    top:70px;
    left:-2px;
}
.figure_2 img{
    position: absolute;
    top:105px;
    left:-2px;
}
.goods_today_block{
    margin-left: 10px;
    margin-top: 10px;
    width: 360px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
}
.goods_today{
    margin-left: 20px;
}
.goods_today hr{
    width: 400px;
    background-color: #8ecf04;
    height: 2px;
    border:none;
    margin-top: -10px;
    margin-bottom: 20px;
}
.today_info{
    width: 200px;
    margin-left: 10px;
}
.today_info h5{
    margin:0;
}
.info_delivery_quantity{
    display: inline-block;
}
.today_cost{
    display: inline-block;
}
.today_cost p{
    margin:0;
}
.usefuls{
    margin-left: 20px;
   
}
.usefuls hr{
    width: 250px;
    background-color: #8ecf04;
    height: 2px;
    border:none;
    margin-top: -10px;
    margin-bottom: 20px;
}
.useful_info_block{
    display: flex;
    margin-top: 7px;
}
.data{
    width: 60px;
    height: 65px;
    border: 4px solid #8ecf04;
    margin-right:5px ;
}
.data p{
    text-align: center;
    margin-bottom: 0;
}
.data_month{
    margin-top: 0;
}
.data_p{
    font-size: 24px;
    font-weight: 800;
    margin-top: 12px;
}

.useful_info{
    width: 200px;
    height: 70px;

}
.useful_info h5{
    margin: 0;
    margin-left: 5px;
    margin-top: 2px;
}
.useful_info p{
    margin-top: 5px;
    margin-left: 5px;
}
/* ------------------------------- login --------------------------- */
.window{
    width: 360px;
    height: 400px;
    margin:40px auto;
   
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
.close{
    width: 30px;
    height: 30px;
    margin: 0 0 0 365px;
    cursor: pointer;
    margin-bottom: -10px;
}

.regLogin{
    width: 370px;
    height: 400px;
    margin:0 auto 20px auto ;
    border-top:10px solid #8ecf04;
    text-align: center; 
    background: #fff;
}
.input{
    width: 260px;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid gray;
}
.gray_1{
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    display: none;
    z-index: 80;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.gray_2{
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    display: none;
    z-index: 80;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.login_open{
    margin-top: 10px;
    margin-left: 80px;
    color:#fff;
    font-size: 14px;
    background: #8ecf04;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
}
/* ------------------------ come_in --------------------- */
.window_come_in{
    width: 360px;
    height: 400px;
    margin:40px auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
.regLogin_comeIn{
    width: 370px;
    height: 200px;
    margin:0 auto 50px auto ;
    border-top:10px solid #8ecf04;
    text-align: center; 
    background: #fff;
}
.login_come{
    margin-top: 10px;
    margin-left: 180px;
    color:#fff;
    font-size: 14px;
    background: #8ecf04;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
}


@media (min-width: 1367px) and (max-width: 1920px){
    .about_us{
        width: 90%;
    }
    .components{
        margin-right: 30%;
    }
    .catalog{
        width: 20%;
    }
    .search {
        width: 79.5%;
    }
    .best_goods {
    width: 1140px;
    }
    .polosa{
    width: 1480px;
    }
    .slider_header {
        width: 87%;
    }
    .slider_header hr {
        width: 73%;
    }
    .button_slider {
            width: 12%;
    }
       
    
}
@media (min-width: 461px) and (max-width: 770px){
    .slider_div{
        height: 400px;
    }
    .discount{
        left: 10%;
        width: 400px;
    }
    .discount h2 {
        margin: 0 10px;
    }
    .discount10 p{
        font-size: 130px;
    }
    .discount h3{
        margin: 0;
        font-size:12px; 
    }
    
    .goods .img_1{
        z-index: 3;
        width: 200px;
        height: 180px;
    }
    .goods_2 .img_2{
        z-index: 1;
        width: 200px;
        height: 200px;
    }
    .discount_buy{
       font-size: 14px;
    }
    .discount_buy h3 {
        font-size: 16px;
        width: 150px;
    }
    .discount_buy p {
        margin: 0;
        font-size: 12px;
        width: 150px;
    }
    .discount_buy h1{
        font-size: 16px;
    }
    .discount_buy button {
        width: 60%;
        height: 40px;
        font-size: 12px;
    }
    /* ---------------------------------------------- */
    .info_block{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
    }
    .block{
        width: 40%;
        margin:10px 5px;
    }
    /* -------------------------------------------- */
    .best_goods{
        width: 690px;
        height: 360px;
    }
    
    .buy{
        margin:10px 5px;
    }
    .slider_header{
        margin: 0;
        width: 80%;
        text-align: center;
    }
    
    .slider_header hr{
        border:none;
        height: 2px;
        background-color: #88ce0b;
        width: 55%;
    }
    .slider-button{
        background: white;
        display: inline-block;
        border:2px solid #88ce0b;
    }
    .button_slider{
        width: 19%;
    }
    /* ------------------------------------------ */
    .little_info{
        margin: 20px 2%;
        display: block;
        height: auto;
    }
    .aboutUs{
        margin-left: 0; 
        text-align: center;
    }
    .aboutUs hr{
        width: 100%;
    }
    .about_us_info{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-right: 10px;
        width: 85%;
    }
    .figure_1 img{
        top:50px;
       left: 8px
    }
    .figure_2 img{
        top:85px;
        left:8px;
    }
    .for_700px{
        display: flex;
    }
    .useful_info {
        width: 165px;
        height: 70px;
    }
    .goods_today_block{
        margin-left: 25%;
    }
    .goods_today{
        margin-left: 0px;
    }
    .goods_today hr{
        width: 100%;
    }
    .goods_today h2{
        text-align: center;
    }
    .usefuls{
        margin-left: 0px;
    }
    .usefuls hr{
        width: 100%;
    }
    .usefuls h2{
        text-align: center;
    }
    /* ------------------------------------------- */
    .container {
        max-width: 90%;
    }
    .about_us {
        width: 100%;
        margin-bottom: 5px;
    }
    .catalog {
        width: 35%;
    }
    .search {
        width: 64%;
    }
    .search input {
      width: 97%;
    }
    .conteiner_flex {
        display: block;
        height: auto;
    }
    .logo {
        display: inline-block;
    }
    .components {
        margin-right: 0px;
        display: inline-block;
    }
    .number_tel {
        display: inline-block;
    }
    .address {
        display: inline-block;
        margin-left:25%;
    }
    .backet {
        display: inline-block;
        width: 200px;
    }
    .backet_icon {
        margin-top: 0;
    }
    .footer_menu_width {
        margin: 0;
    }
    .margin_left {
        width: auto;
        text-align: center;
        margin-left: 5%;
    }
    .footer_menu_main {
        text-align: center;
    }
    .company {
        height: auto;
    }
    .footer_width {
        height: auto;
    }
    .footer_info {
        height: auto;
        width: 100%;
        background: url(../images/смарт_объект.png) no-repeat 0 55px ,
         #fff url(../images/смарт_объект_2.png) no-repeat 100% 190px;
            background-color: rgb(255, 255, 255);
        background-color: #709f01;
    }
}
@media (min-width: 320px) and (max-width: 460px){
    .about_us {
        width: 90%;
        height: auto;
        display: inline-block;
    }
.about_us a:first-child {
    margin-left: 20%;
}
.about_us a{
    background: #8ecf04;
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10px;
    color:white;
    border: 1px solid black;
    padding: 0;
    text-align: center;
    display: block;
}
.login{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}
.login img{
    width: 20px;
    height: 20px;
}
.login a{
    border: 1px solid black;
    background: #8ecf04;
    padding: 5px;
    display: inline-block;
  }
.conteiner_flex{
    display: block;
    height: auto;
}
.logo img{
      border-right:0px;
}
.components{
    text-align: center;
    margin-right: auto;
}
.components p{
    width: auto;
}
.number_tel{
    display: inline-block;
    margin-right: 0;
    margin-left: 10px;
}
.number_tel p{
    margin-top:5px;
    margin-bottom: 0;
}
.day{
    position: relative;
    margin-top: 15px;
    font-size: 11px;
}
.day img{
    bottom: -1px;
    position: absolute;
}
.day_p{
    margin-left: 15px;
}

.p_number{
    font-size: 24px;
    color:#70a000;
}
.number_tel img{
    margin-top: 15px;
    width: 15px;
    height: 15px;
}
.number_tel select{
    border: none;
}
.address{
    display: inline-block;
    margin:0;
    text-align: left;  
}
.address .number{
    margin-top: -10px;
}
.address select{
    border:none
}
.address img{
   width: 15px;
   color:#8ecf04;
   height:15px;
}
.backet{
    background: #8ecf04;
    flex: 5;
    text-align: center;
}
.backet_icon{
    display: inline-block;
    margin-top: 10px;
}
.sum{
    margin-left: 10px;
    display: inline-block;
}
.sum p{
    margin: 0;
}
.quantity{
    margin-left: 25px;
    margin-bottom: -10px;
}
.container_search{
    height: auto;
}
/* ----------- catalog ----------- */
.catalog{
     display: inline-block;
     width: 100%;
     height: 59px;
     margin-bottom: 20px;
     background: #f76c06;
     list-style: none;
     
}
.dws-menu li a {
    font-size: 20px;
    margin-left: 40px;
    color: #fff;
}
.dws-menu .first_ul{
    margin: 0;
    padding: 0;
}
.dws-menu ul{
    list-style: none;
   }
.dws-menu li ul{
    position: absolute;
    min-width: 250px;
    display: none;
}
.dws-menu li > ul li{
    font-size: 24px;
    height: 50px;
    min-width: 280px;
    border: 1px solid #c7c8ca;
    background: #f76c06;
}
.dws-menu li > ul li a{  
    text-transform: none;
    background: #f76c06;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -280px;
    top: 0;
}
.dws-menu li:hover > ul{
    z-index: 1;
    display: block;
}
/* ----------------------------------- */
.search{
    width: 95%;
}
.search input{
    border-left: 1px solid black;
}
/*--------------------------------------------------------*/

.slider_div{
    height: 200px;
}
.discount{
    left: 15%;
    width: 100px;
}
.discount h2{
    font-size:12px; 
    margin: 0 10px;
}
.discount10 p{
    font-size: 60px;

}
.discount h3{
    margin: 0;
    font-size:10px; 
}

.goods .img_1{
    z-index: 3;
    width: 100px;
    height: 80px;
}
.goods_2 .img_2{
    z-index: 1;
    width: 100px;
    height: 100px;
}
.discount_buy{
   font-size: 10px;
}
.discount_buy h3{
    font-size: 10px;
    width: 75px;
}
.discount_buy p{
    margin: 0;
    font-size: 8px;
    width: 75px;
}
.discount_buy h1{
    font-size: 12px;
}
.discount_buy button{
    width: 40%;
    height: 30%;
    font-size: 8px;
}
/*-------------------------------------------------*/
.info_block{
    width: 80%;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}
.block{
    font-family: 'Domine', sans-serif;
    width: 90%;

    margin:10px auto;
    height: 320px;
    color:white;
}
.block h3{
    margin-top: 100px;
}
.block hr{
    margin-left: 42%;
    width: 50px;
    height: 2px;
    border:none;
}
/*------------------------------------------------*/
.best_goods{
    width: 300px;
    height: 420px;
}

.buy{
    margin:10px 5px;
}
.slider_header{
    margin: 0;
    width: 100%;
    text-align: center;
}

.slider_header hr{
    border:none;
    height: 2px;
    background-color: #88ce0b;
    width: 65%;
}
.slider-button{
    background: white;
    display: inline-block;
    border:2px solid #88ce0b;
}
.button_slider{
    text-align: center;
    margin: 0;
    width: 100%;
}
/*---------------------------------------------*/

.little_info{
    display: block;
    height: auto;
}
.aboutUs{
    margin-left: 0; 
    text-align: center;
}
.aboutUs hr{
    text-align: center;
    width: 300px;
}
.about_us_info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 200px;
}
.figure_1 img{
    top:50px;
   left: 8px
}
.figure_2 img{
    top:85px;
    left:8px;
}
.goods_today_block{
    width: 290px;
}
.goods_today{
    margin-left: 0px;
}
.goods_today hr{
    text-align: center;
    width: 300px;
}
.goods_today h2{
    text-align: center;
}
.usefuls{
    margin-left: 0px;
}
.usefuls hr{
    width: 300px;
}
.usefuls h2{
    text-align: center;
}
/*-------------------------------------------------------*/

.footer_menu_width{
    display: block;
    text-align: center;
}
.footer_menu_main {
    width: 300px;
   border-bottom: 1px solid white;
}
.border_right {
    border-left: 0px;
}
.border_right:last-child {
    border-left: 0px;
    margin-bottom: 0;
}
.company:first-child {
    display: inline-block;
    margin-left: 0;
}
.footer_width{
    width: 83%;
    display: block;
    height: auto;
}
.footer_info{
    height: auto;
    width: 100%;
    background: url(../images/смарт_объект_2.png) no-repeat 100% 100%;
    background-color: #709f01;
}

}